.header{
    width: 100%;
    height: 150px;
    background-color: deeppink;
    .bander{
        width: 100%;
        height: 60px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .right{
        width: 55%;
        
        background-color: aqua;
        padding: 12px 0px;
        .logo{
            background-color: lime;
            & img{
                width: 195px;
                height: 30px;
                object-fit: cover;
            }
        }
    }

}