@font-face {
    font-family: yekan;
    src: url('../../public/fonts/IRANYekanWeb.eot');
    src: url('../../public/fonts/IRANYekanWeb.ttf');
    src: url('../../public/fonts/IRANYekanWeb.woff');
    src: url('../../public/fonts/IRANYekanWeb.woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yekan;
}
:root{
    --color-icon:#a1a3a8;
    --color-place-holder:#81858b;
    --color-bg:#f0f0f1;
    --border-color:#e0e0e2;
    --color-text:#0c0c0c;
    --color-svg:#424750;
    --color-btn:rgb(245,127,23,0.3);
    --btn-text:#f57f17;
    --icon-colose:#424750;
}

